# Ignore build and cache files
build/
sdkconfig
sdkconfig.old
sdkconfig.*
CMakeCache.txt
CMakeFiles/
*.elf
*.bin
*.map
*.d
*.o
*.a
*.log

# Ignore Dev Container settings (optional)
.devcontainer/

# Ignore managed components
managed_components/

# Ignore Visual Studio Code settings (optional)
.vscode/settings.json