# Ignore build and cache files
build/
sdkconfig
sdkconfig.old
sdkconfig.*
CMakeCache.txt
CMakeFiles/
*.elf
*.bin
*.map
*.d
*.o
*.a
*.log

# Ignore VS Code settings (optional)
.vscode/

# Ignore Dev Container settings (optional)
.devcontainer/